* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PaytoneOne";
  font-display: swap;
  src: url("../fonts/PaytoneOne-Regular.woff2") format("woff2"), url("../fonts/PaytoneOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --app-height: 100%;
  --white: #fff;
  --black: #0A0A0B;
  --green: #4CBE57;
  --blue: #2D68FF;
  --red: #E54324;
  --bg: url("../img/loading.gif") 50% no-repeat;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--white);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: var(--black);
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/main/decor2.webp") center/contain no-repeat;
  width: 780px;
  height: 780px;
  transform: translate(20%, -20%);
  border-radius: 50%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.title {
  font-family: "PaytoneOne", sans-serif;
  font-size: 3.75rem;
  text-align: center;
  line-height: 1.5;
}

.title img {
  vertical-align: middle;
  margin: 0 15px;
}

.intro {
  font-weight: 700;
  text-transform: uppercase;
  color: #A4A8B0;
  text-align: center;
  margin-bottom: 25px;
}

.btn_red {
  padding: 20px 30px;
  border-radius: 12px;
  background: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 0.875rem;
  position: relative;
  overflow: hidden;
}

.btn_red::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(115, 61, 203);
  background: linear-gradient(90deg, rgb(115, 61, 203) 0%, rgb(229, 67, 36) 100%);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}

.btn_up {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 30;
  border-radius: 50%;
  background: var(--red);
  overflow: hidden;
  transform: translate(100px, 0);
  transition: all 0.5s ease;
}

.btn_up.active {
  transform: translate(0, 0);
}

.btn_up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(115, 61, 203);
  background: linear-gradient(90deg, rgb(115, 61, 203) 0%, rgb(229, 67, 36) 100%);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}

.btn_up svg {
  width: 100%;
  height: 100%;
  fill: transparent;
}

.header {
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 100;
  min-width: 320px;
}

.header.active .header__body {
  transform: translate(0, 0);
}

.header__container {
  max-width: 1330px;
}

.header__body {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transform: translate(0, -200%);
  transition: all 0.8s ease 1s;
}

.header__menu {
  flex: 1 1 auto;
}

.header__menu-icon {
  width: 32px;
  height: 32px;
  position: relative;
  display: none;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  transition: all 0.5s ease;
}

.header__menu-icon::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: url("../img/paw.webp") center/contain no-repeat;
  transition: all 0.5s ease;
}

.header__menu-icon::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/icons/icons.svg#close") center/contain no-repeat;
  transition: all 0.5s ease;
  opacity: 0;
}

.header__menu-icon._active {
  background: var(--red);
}

.header__menu-icon._active::before {
  transform: translate(-50%, -50%) scale(0);
}

.header__menu-icon._active::after {
  opacity: 1;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__item.active .menu__link {
  opacity: 1;
}

.menu__item.active .menu__link::after {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.menu__link {
  color: var(--white);
  opacity: 0.5;
  position: relative;
  transition: all 0.5s ease;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 110%;
  left: 0;
  background: var(--white);
  transform: translate(0, 5px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.menu__btn {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--white);
  border-radius: 12px;
  padding: 14px 22px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 60px;
  display: none;
  transition: all 0.5s ease;
}

.menu__socials {
  flex: 1 1 auto;
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "PaytoneOne", sans-serif;
  font-size: 1.25rem;
  margin-right: 15px;
  color: var(--white);
}

.logo img {
  width: 33px;
  height: 33px;
  margin-right: 10px;
}

.socials {
  flex-direction: column;
  justify-content: flex-end;
}

.socials__body {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid #4E5156;
  margin: 0 12px;
}

.socials__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.02);
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__item svg {
  width: 50%;
  height: 50%;
  fill: #4E5156;
  transition: all 0.5s ease;
}

.main {
  position: relative;
}

.main.active::before {
  opacity: 1;
}

.main.active::after {
  transform: translate(0, 0);
}

.main.active .main__body::after {
  transform: translate(0, -110%) scale(1);
}

.main::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1044px;
  height: 994px;
  background: url("../img/main/decor1.webp") bottom left/contain no-repeat;
  transition: all 0.8s ease 1s;
  opacity: 0;
}

.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 240px;
  height: 400px;
  background: url("../img/main/paw_big.webp") center/contain no-repeat;
  transition: all 0.8s ease 1s;
  transform: translate(-100%, 0);
}

.main__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 0 75px;
  min-height: 100vh;
}

.main__body::after {
  content: "";
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translate(0, -110%) scale(0);
  width: 120px;
  height: 117px;
  background: url("../img/main/paw_small.webp") center/contain no-repeat;
  transition: all 0.8s ease 1s;
}

.main__image {
  width: 590px;
  height: 590px;
  margin-bottom: -65px;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
  transform: scale(0);
}

.main__image.active {
  transform: scale(1);
}

.main__image img {
  width: 100%;
  height: 100%;
}

.main__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.main__info.active .main__intro,
.main__info.active .main__title,
.main__info.active .main__btn {
  transform: translate(0, 0);
  opacity: 1;
}

.main__intro {
  text-transform: uppercase;
  font-weight: 700;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.main__title {
  font-family: "PaytoneOne", sans-serif;
  font-size: 7.5rem;
  line-height: 1;
  margin-bottom: 30px;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease 0.1s;
}

.main__btn {
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease 0.2s;
}

.main__dialog {
  position: absolute;
}

.main__dialog_left {
  top: 50%;
  left: 0;
  transform: translate(-80%, -100%);
}

.main__dialog_left .main__dialog-wrapper {
  animation: fadeIn 0.8s ease 0.5s forwards;
}

.main__dialog_left .main__dialog-wrapper::after {
  right: 10%;
  -webkit-clip-path: path("M56 38C21.979 38 -0.585303 12.6667 0.0115572 0H56C43.4659 0 46.1518 27.7176 56 38Z");
          clip-path: path("M56 38C21.979 38 -0.585303 12.6667 0.0115572 0H56C43.4659 0 46.1518 27.7176 56 38Z");
}

.main__dialog_right {
  right: 0;
  bottom: 50%;
  transform: translate(80%, 100%);
}

.main__dialog_right .main__dialog-wrapper {
  animation: fadeIn 0.8s ease 0.6s forwards;
}

.main__dialog_right .main__dialog-wrapper::after {
  left: 10%;
  -webkit-clip-path: path("M0 38C34.021 38 56.5853 12.6667 55.9884 0H0C12.5341 0 9.84819 27.7176 0 38Z");
          clip-path: path("M0 38C34.021 38 56.5853 12.6667 55.9884 0H0C12.5341 0 9.84819 27.7176 0 38Z");
}

.main__dialog-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 30px;
  max-width: 280px;
  font-size: 0.875rem;
  line-height: 1.5;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  position: relative;
  transform: scale(0);
}

.main__dialog-wrapper::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 56px;
  height: 38px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 1;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1.05);
  }

  40% {
    transform: scale(0.95);
  }

  60% {
    transform: scale(1.03);
  }

  80% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(1);
  }
}

.partners {
  position: relative;
  background: var(--black);
}

.partners__body {
  padding: 50px 0;
}

.partners__slider {
  overflow: hidden;
}

.partners__slider.active .partners__item {
  transform: scale(1);
}

.partners__slide:nth-child(1) .partners__item {
  transition: all 0.5s ease;
}

.partners__slide:nth-child(2) .partners__item {
  transition: all 0.5s ease 0.1s;
}

.partners__slide:nth-child(3) .partners__item {
  transition: all 0.5s ease 0.2s;
}

.partners__slide:nth-child(4) .partners__item {
  transition: all 0.5s ease 0.3s;
}

.partners__slide:nth-child(5) .partners__item {
  transition: all 0.5s ease 0.4s;
}

.partners__slide:nth-child(6) .partners__item {
  transition: all 0.5s ease 0.5s;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 12px;
  transform: scale(0);
}

.partners__item img {
  max-width: 100%;
}

.about {
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
  background: var(--black);
  position: relative;
}

.about::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 50%);
  width: 869px;
  height: 1897px;
  background: url("../img/about/decor.webp") center right/contain no-repeat;
}

.about__body {
  padding: 120px 0;
}

.about__intro {
  text-align: center;
  transition: all 0.8s ease;
  transform: translate(0, 50px);
  opacity: 0;
}

.about__intro.active {
  opacity: 1;
  transform: translate(0, 0);
}

.about__title {
  margin-bottom: 40px;
  transition: all 0.8s ease 0.2s;
  transform: translate(0, 50px);
  opacity: 0;
}

.about__title.active {
  opacity: 1;
  transform: translate(0, 0);
}

.about__content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.about__content.active .about__accent {
  opacity: 1;
  transform: translate(0, 0);
}

.about__content.active .about__text p {
  opacity: 1;
  transform: translate(0, 0);
}

.about__content.active .about__image {
  transform: scale(1);
}

.about__content.active .about__image::before {
  transform: scale(1);
}

.about__content.active .about__image::after {
  transform: translate(0, 50%) scale(1);
}

.about__content.active .about__image svg {
  animation: draw 1s linear 1.5s forwards;
}

.about__info {
  flex: 1 1 50%;
  padding-right: 90px;
}

.about__accent {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 50px;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 0.8s ease;
}

.about__text {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #8C8D92;
}

.about__text p {
  transform: translate(-100%, 0);
  opacity: 0;
}

.about__text p:not(:last-child) {
  margin-bottom: 20px;
}

.about__text p:nth-child(1) {
  transition: all 0.8s ease 0.2s;
}

.about__text p:nth-child(2) {
  transition: all 0.8s ease 0.3s;
}

.about__text p:nth-child(3) {
  transition: all 0.8s ease 0.4s;
}

.about__text p:nth-child(4) {
  transition: all 0.8s ease 0.5s;
}

.about__image {
  flex: 1 1 50%;
  position: relative;
  transition: all 0.5s ease 1s;
  transform: scale(0);
}

.about__image::before {
  content: "";
  position: absolute;
  width: 19%;
  height: 26%;
  bottom: 2%;
  left: 6%;
  background: url("../img/about/paw.webp") center/contain no-repeat;
  transform: scale(0);
  transition: all 0.5s ease 1.4s;
}

.about__image::after {
  content: "";
  position: absolute;
  width: 19%;
  aspect-ratio: 1/1;
  bottom: 0;
  right: 10%;
  transform: translate(0, 50%) scale(0);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: url("../img/about/dialog.webp") center/60% no-repeat;
  transition: all 0.5s ease 1.6s;
}

.about__image svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 114%;
  height: 114%;
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
}

.about__image img {
  max-width: 100%;
}

@keyframes draw {
  70% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1000;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6 6;
  }
}

.tagline {
  position: relative;
}

.tagline_revers::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 392px;
  height: 415px;
  background: url("../img/tagline/decor1.webp") no-repeat;
}

.tagline_revers::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -50%);
  width: 810px;
  height: 1368px;
  background: url("../img/tagline/decor2.webp") center right/contain no-repeat;
}

.tagline_revers .tagline__body {
  flex-direction: row-reverse;
  position: relative;
  z-index: 1;
}

.tagline_revers .tagline__image {
  margin-right: 0;
}

.tagline_revers .tagline__image.active svg {
  animation: draw 1s linear 1.5s forwards;
}

.tagline_revers .tagline__image::before {
  left: -6%;
  bottom: unset;
  top: 25%;
  width: 15%;
  background: url("../img/tagline/heart.webp") center/40% no-repeat;
}

.tagline_revers .tagline__image img {
  transform: translate(100%, 0);
}

.tagline_revers .tagline__image svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120%;
  height: 120%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.tagline_revers .tagline__info {
  padding-right: 100px;
}

.tagline_revers .tagline__intro,
.tagline_revers .tagline__title,
.tagline_revers .tagline__text {
  transform: translate(-100%, 0);
}

.tagline__body {
  display: flex;
  align-items: center;
  padding: 150px 0;
}

.tagline__image {
  flex: 1 0 220px;
  max-width: 220px;
  margin-right: 100px;
  position: relative;
  z-index: 1;
}

.tagline__image.active img {
  opacity: 1;
  transform: translate(0, 0);
}

.tagline__image.active::before,
.tagline__image.active::after {
  transform: scale(1);
}

.tagline__image::before {
  content: "";
  position: absolute;
  left: 3%;
  bottom: 3%;
  width: 22%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: url("../img/tagline/heart.webp") center/40% no-repeat;
  transform: scale(0);
  transition: all 0.5s ease 1.5s;
  z-index: 1;
}

.tagline__image::after {
  content: "";
  position: absolute;
  top: 3%;
  right: 3%;
  width: 27%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: url("../img/tagline/paw.webp") center/40% no-repeat;
  transform: scale(0);
  transition: all 0.5s ease 1.7s;
}

.tagline__image img {
  max-width: 100%;
  transition: all 1s ease;
  transform: translate(-100%, 0);
  opacity: 0;
}

.tagline__info {
  flex: 1 1 auto;
}

.tagline__info.active .tagline__intro,
.tagline__info.active .tagline__title,
.tagline__info.active .tagline__text {
  opacity: 1;
  transform: translate(0, 0);
}

.tagline__intro {
  text-align: left;
  transition: all 1s ease 0.5s;
  transform: translate(100%, 0);
  opacity: 0;
}

.tagline__title {
  text-align: left;
  line-height: 1;
  margin-bottom: 35px;
  z-index: 1;
  position: relative;
  transition: all 1s ease 0.6s;
  transform: translate(100%, 0);
  opacity: 0;
}

.tagline__text {
  font-size: 0.875rem;
  color: #8C8D92;
  z-index: 1;
  position: relative;
  transition: all 1s ease 0.7s;
  opacity: 0;
  transform: translate(100%, 0);
}

.system__body {
  padding: 120px 0;
  position: relative;
}

.system__intro {
  transform: translate(0, 50px);
  transition: all 0.5s ease;
  opacity: 0;
}

.system__intro.active {
  transform: translate(0, 0);
  opacity: 1;
}

.system__title {
  margin: 0 auto 50px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transform: translate(0, 50px);
  transition: all 0.5s ease;
  opacity: 0;
}

.system__title.active {
  transform: translate(0, 0);
  opacity: 1;
}

.system__title.active .system__line {
  transform: translate(-5%, 15%) scale(1);
}

.system__line {
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 514px;
  height: 614px;
  transform: translate(-5%, 15%) scale(0);
  transition: all 0.5s ease 0.5s;
}

.system__line svg {
  width: 100%;
  height: 100%;
}

.system__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(135deg, rgb(10, 10, 11) 0%, rgba(10, 10, 11, 0) 100%);
}

.system__content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.system__list {
  flex: 1 1 30%;
}

.system__list.active .system__item {
  opacity: 1;
  transform: translate(0, 0);
}

.system__list_left .system__item {
  transform: translate(-100%, 0);
  opacity: 0;
}

.system__list_right .system__item {
  transform: translate(100%, 0);
  opacity: 0;
}

.system__item {
  display: flex;
  align-items: center;
}

.system__item:nth-child(1) {
  transition: all 0.5s ease;
}

.system__item:nth-child(2) {
  transition: all 0.5s ease 0.1s;
}

.system__item:nth-child(3) {
  transition: all 0.5s ease 0.2s;
}

.system__item:nth-child(4) {
  transition: all 0.5s ease 0.3s;
}

.system__item:not(:last-child) {
  margin-bottom: 50px;
}

.system__icon {
  width: 50px;
  min-width: 50px;
  height: 40px;
  margin-right: 30px;
}

.system__icon img {
  width: 100%;
}

.system__text {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8C8D92;
}

.system__image {
  flex: 1 1 40%;
  transform: scale(0);
}

.system__image.active {
  animation: fadeIn 0.6s ease 0.7s forwards;
}

.system__image img {
  max-width: 100%;
}

.hopping__body {
  padding: 120px 0;
}

.hopping__intro {
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.hopping__intro.active {
  opacity: 1;
  transform: translate(0, 0);
}

.hopping__title {
  margin-bottom: 40px;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.hopping__title.active {
  opacity: 1;
  transform: translate(0, 0);
}

.hopping__content {
  display: flex;
  align-items: center;
}

.hopping__info {
  flex: 1 1 50%;
}

.hopping__list {
  margin-bottom: 100px;
  padding-right: 85px;
}

.hopping__list.active .hopping__item {
  transform: translate(0, 0);
  opacity: 1;
}

.hopping__list.active .hopping__icon {
  animation: fadeIn 0.8s ease 1s forwards;
}

.hopping__item {
  display: flex;
  align-items: flex-start;
  transition: all 0.8s ease;
  transform: translate(-200px, 0);
  opacity: 0;
}

.hopping__item:nth-child(1) {
  transition: all 0.8s ease;
}

.hopping__item:nth-child(2) {
  transition: all 0.8s ease 0.1s;
}

.hopping__item:nth-child(3) {
  transition: all 0.8s ease 0.2s;
}

.hopping__item:not(:last-child) {
  margin-bottom: 40px;
}

.hopping__icon {
  width: 100px;
  min-width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
  transform: scale(0);
}

.hopping__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hopping__name {
  font-size: 1.25rem;
  color: #F5F6F8;
  margin-bottom: 15px;
}

.hopping__text {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #8C8D92;
}

.hopping__btns {
  display: flex;
}

.hopping__btns.active .hopping__btn {
  transform: scale(1);
}

.hopping__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  max-height: 60px;
  transition: all 0.5s ease;
  transform: scale(0);
}

.hopping__btn:not(:last-child) {
  margin-right: 20px;
}

.hopping__btn img {
  width: 100%;
  height: 100%;
}

.hopping__image {
  flex: 1 1 50%;
}

.hopping__image.active .hopping__image-wrapper {
  animation: vibro 1s ease forwards;
}

.hopping__image-wrapper {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translate(100%, 0);
}

.hopping__image-wrapper img {
  max-width: 100%;
}

@keyframes vibro {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }

  20% {
    opacity: 0;
    transform: translate(100%, 0);
  }

  40% {
    opacity: 1;
    transform: translate(-10%, 0);
  }

  50% {
    opacity: 1;
    transform: translate(10%, 0);
  }

  60% {
    opacity: 1;
    transform: translate(-5%, 0);
  }

  70% {
    opacity: 1;
    transform: translate(5%, 0);
  }

  80% {
    opacity: 1;
    transform: translate(-2%, 0);
  }

  90% {
    opacity: 1;
    transform: translate(2%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.studio__body {
  padding: 120px 0;
}

.studio__intro {
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.studio__intro.active {
  transform: translate(0, 0);
  opacity: 1;
}

.studio__title {
  margin-bottom: 40px;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.studio__title.active {
  transform: translate(0, 0);
  opacity: 1;
}

.studio__content {
  display: flex;
  align-items: center;
}

.studio__info {
  flex: 1 1 50%;
  padding-right: 95px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.studio__info.active .studio__accent {
  opacity: 1;
  transform: translate(0, 0);
}

.studio__info.active .studio__text p {
  opacity: 1;
  transform: translate(0, 0);
}

.studio__accent {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #F5F6F8;
  margin-bottom: 50px;
  transform: translate(-200px, 0);
  opacity: 0;
  transition: all 0.8s ease;
}

.studio__text {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #8C8D92;
  margin-bottom: 50px;
}

.studio__text p {
  transform: translate(-200px, 0);
  opacity: 0;
}

.studio__text p:nth-child(1) {
  transition: all 0.8s ease 0.1s;
}

.studio__text p:nth-child(2) {
  transition: all 0.8s ease 0.2s;
}

.studio__text p:nth-child(3) {
  transition: all 0.8s ease 0.3s;
}

.studio__text p:nth-child(4) {
  transition: all 0.8s ease 0.4s;
}

.studio__text p:not(:last-child) {
  margin-bottom: 30px;
}

.studio__btn {
  width: 210px;
  transform: scale(0);
  transition: all 0.8s ease;
}

.studio__btn.active {
  transform: scale(1);
}

.studio__graph {
  flex: 1 1 50%;
  position: relative;
}

.studio__graph.active .studio__image {
  transform: skew(0, 0);
}

.studio__graph.active .studio__stars {
  opacity: 1;
}

.studio__image {
  transition: all 0.5s ease-in-out 0.8s;
  transform: skew(90deg, 0);
}

.studio__image img {
  max-width: 100%;
}

.studio__stars {
  position: absolute;
  left: 0;
  top: 10%;
  width: 35%;
  transform: translate(-30%, 0);
  opacity: 0;
  transition: all 0.8s ease 1.3s;
}

.studio__stars img {
  max-width: 100%;
}

.stacking {
  position: relative;
}

.stacking::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -50%);
  width: 810px;
  height: 1368px;
  background: url("../img/tagline/decor2.webp") center right/contain no-repeat;
}

.stacking__container {
  max-width: 1310px;
}

.stacking__body {
  padding: 120px 0;
}

.stacking__intro {
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.stacking__intro.active {
  opacity: 1;
  transform: translate(0, 0);
}

.stacking__title {
  margin-bottom: 50px;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.stacking__title.active {
  opacity: 1;
  transform: translate(0, 0);
}

.stacking__content {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.stacking__info {
  flex: 1 1 66.666%;
  padding-right: 85px;
}

.stacking__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 85px;
       column-gap: 85px;
  row-gap: 50px;
}

.stacking__list.active .stacking__item {
  transform: translate(0, 0);
  opacity: 1;
}

.stacking__item {
  display: flex;
  align-items: flex-start;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.stacking__item:nth-child(1) {
  transition: all 0.8s ease;
}

.stacking__item:nth-child(2) {
  transition: all 0.8s ease 0.1s;
}

.stacking__item:nth-child(3) {
  transition: all 0.8s ease 0.2s;
}

.stacking__item:nth-child(4) {
  transition: all 0.8s ease 0.3s;
}

.stacking__icon {
  width: 100px;
  height: 100px;
  min-width: 100px;
  margin-right: 30px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.stacking__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stacking__name {
  font-size: 1.25rem;
  color: #F5F6F8;
  margin-bottom: 15px;
}

.stacking__text {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #8C8D92;
}

.stacking__graph {
  flex: 1 1 33.333%;
  position: relative;
}

.stacking__graph.active .stacking__image img {
  animation: fadeIn 0.8s ease 0.4s forwards;
}

.stacking__graph.active .stacking__image svg {
  animation: drawStacking 0.8s ease forwards;
}

.stacking__graph.active .stacking__heart {
  animation: fadeIn 0.8s ease 1s forwards;
}

.stacking__image {
  position: relative;
}

.stacking__image img {
  max-width: 100%;
  transition: all 0.5s ease;
  transform: scale(0);
}

.stacking__image svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 115%;
  height: 115%;
  -o-object-position: bottom left;
     object-position: bottom left;
  stroke-dasharray: 1500;
  stroke-dashoffset: -1500;
}

.stacking__heart {
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 1;
  border-radius: 50%;
  width: 17%;
  height: 17%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.stacking__heart img {
  max-width: 100%;
}

.stacking__btn {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--white);
  border-radius: 12px;
  padding: 14px 22px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  transform: scale(0);
  transition: all 0.5s ease;
}

.stacking__btn.active {
  animation: fadeIn 0.8s ease forwards;
}

@keyframes drawStacking {
  70% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1500;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6 6;
  }
}

.start__body {
  padding: 120px 0;
}

.start__intro {
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.start__intro.active {
  transform: translate(0, 0);
  opacity: 1;
}

.start__title {
  margin-bottom: 80px;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.start__title.active {
  transform: translate(0, 0);
  opacity: 1;
}

.start__slider {
  margin-bottom: 80px;
}

.start__slider.active .start__item {
  opacity: 1;
  transform: translate(0, 0);
}

.start__slider.active .start__icon img {
  animation: fadeIn 0.8s ease 0.8s forwards;
}

.start__slide:nth-child(1) .start__item {
  transition: all 0.5s ease;
}

.start__slide:nth-child(2) .start__item {
  transition: all 0.5s ease 0.1s;
}

.start__slide:nth-child(3) .start__item {
  transition: all 0.5s ease 0.2s;
}

.start__slide:nth-child(4) .start__item {
  transition: all 0.5s ease 0.3s;
}

.start__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(100%, 0);
  opacity: 0;
}

.start__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 30px;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.02);
}

.start__icon img {
  max-width: 100%;
  transform: scale(0);
}

.start__number {
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 0.625rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #111112;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #8C8D92;
}

.start__name {
  margin-bottom: 20px;
  font-size: 1.25rem;
  text-align: center;
}

.start__text {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #8C8D92;
  text-align: center;
}

.start__btn {
  width: 210px;
  margin: 0 auto;
  transform: scale(0);
}

.start__btn.active {
  animation: fadeIn 0.8s ease forwards;
}

.tokenomikcs {
  position: relative;
  z-index: 1;
}

.tokenomikcs__container {
  max-width: 1370px;
}

.tokenomikcs__body {
  padding: 120px 0;
}

.tokenomikcs__intro {
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.tokenomikcs__intro.active {
  transform: translate(0, 0);
  opacity: 1;
}

.tokenomikcs__title {
  margin-bottom: 50px;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s ease;
}

.tokenomikcs__title.active {
  transform: translate(0, 0);
  opacity: 1;
}

.tokenomikcs__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.tokenomikcs__item {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.02);
  padding: 25px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  gap: 10px;
  grid-column: span 2;
  transform: scale(0);
}

.tokenomikcs__item.active:nth-child(1) {
  animation: fadeIn 0.8s ease forwards;
}

.tokenomikcs__item.active:nth-child(2) {
  animation: fadeIn 0.8s ease 0.1s forwards;
}

.tokenomikcs__item.active:nth-child(3) {
  animation: fadeIn 0.8s ease 0.2s forwards;
}

.tokenomikcs__item.active:nth-child(4) {
  animation: fadeIn 0.8s ease 0.3s forwards;
}

.tokenomikcs__item.active:nth-child(5) {
  animation: fadeIn 0.8s ease 0.4s forwards;
}

.tokenomikcs__item_xl,
.tokenomikcs__item_xxl {
  grid-column: span 3;
}

.tokenomikcs__item_xl .tokenomikcs__info span,
.tokenomikcs__item_xxl .tokenomikcs__info span {
  font-size: 3.75rem;
  word-break: normal;
}

.tokenomikcs__item_xxl .tokenomikcs__image {
  margin-bottom: -25px;
}

.tokenomikcs__info {
  font-size: 1.25rem;
  color: #8C8D92;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tokenomikcs__info span {
  color: var(--white);
  font-weight: 700;
  word-break: break-all;
}

.tokenomikcs__icon {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.02);
  position: relative;
}

.tokenomikcs__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tokenomikcs__image {
  position: relative;
}

.tokenomikcs__image img {
  max-width: 100%;
}

.tokenomikcs__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tokenomikcs__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: var(--black);
  position: relative;
}

.footer.active .footer__body {
  transform: translate(0, 0);
}

.footer__body {
  padding-top: 120px;
  transform: translate(0, 100%);
  transition: all 0.5s ease;
}

.footer__main {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.footer__left {
  flex: 1 1 50%;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__text {
  font-size: 0.75rem;
  line-height: 1.5;
  opacity: 0.3;
  max-width: 330px;
}

.footer__right {
  flex: 1 1 50%;
  display: flex;
}

.footer__menu {
  margin-right: 60px;
}

.footer__screen {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.02);
  flex: 1 1 auto;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 0;
  border-top: 1px solid #4E5156;
}

.footer__socials .socials__body {
  margin: 0;
  padding: 0;
  border: none;
}

.footer__rights {
  font-size: 0.75rem;
  opacity: 0.3;
}

.menu-footer__item {
  width: -moz-fit-content;
  width: fit-content;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu-footer__item.active .menu-footer__link {
  opacity: 1;
}

.menu-footer__item.active .menu-footer__link::after {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.menu-footer__link {
  font-size: 0.875rem;
  opacity: 0.5;
  color: var(--white);
  position: relative;
  transition: all 0.5s ease;
}

.menu-footer__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 110%;
  left: 0;
  background: var(--white);
  transform: translate(0, 5px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

/**
 * Swiper 11.1.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2024 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: March 28, 2024
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */

/* 3D Shadows */

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Slide styles end */

@media (max-width: 1440px) {
  .title {
    font-size: calc(2.5rem + 20 * (100vw - 20rem) / 1120);
  }

  .main::before {
    width: calc(375px + 669 * (100vw - 320px) / 1120);
    height: calc(613px + 381 * (100vw - 320px) / 1120);
  }

  .main::after {
    left: calc(-50px + 50 * (100vw - 320px) / 1120);
    bottom: calc(-200px + 200 * (100vw - 320px) / 1120);
  }

  .main__body {
    padding-top: calc(240px + -140 * (100vw - 320px) / 1120);
  }

  .main__image {
    width: calc(260px + 330 * (100vw - 320px) / 1120);
    height: calc(260px + 330 * (100vw - 320px) / 1120);
    margin-bottom: calc(30px + -95 * (100vw - 320px) / 1120);
  }

  .main__intro {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1120);
  }

  .main__title {
    font-size: calc(2.5rem + 80 * (100vw - 20rem) / 1120);
  }

  .main__dialog-wrapper {
    padding: calc(20px + 10 * (100vw - 320px) / 1120);
    max-width: calc(180px + 100 * (100vw - 320px) / 1120);
  }

  .about::after {
    width: calc(375px + 494 * (100vw - 320px) / 1120);
    height: calc(900px + 997 * (100vw - 320px) / 1120);
  }

  .about__body {
    padding: calc(70px + 50 * (100vw - 320px) / 1120) 0;
  }

  .about__info {
    padding-right: calc(0px + 90 * (100vw - 320px) / 1120);
  }

  .tagline_revers::after {
    width: calc(375px + 435 * (100vw - 320px) / 1120);
    height: calc(616px + 752 * (100vw - 320px) / 1120);
  }

  .tagline_revers .tagline__info {
    padding-right: calc(10px + 90 * (100vw - 320px) / 1120);
  }

  .tagline__body {
    padding: calc(50px + 100 * (100vw - 320px) / 1120) 0;
  }

  .tagline__image {
    margin-right: calc(0px + 100 * (100vw - 320px) / 1120);
  }

  .system__body {
    padding: calc(70px + 50 * (100vw - 320px) / 1120) 0;
  }

  .system__content {
    gap: calc(30px + 30 * (100vw - 320px) / 1120);
  }

  .system__item:not(:last-child) {
    margin-bottom: calc(25px + 25 * (100vw - 320px) / 1120);
  }

  .hopping__body {
    padding: calc(70px + 50 * (100vw - 320px) / 1120) 0;
  }

  .hopping__list {
    padding-right: calc(10px + 75 * (100vw - 320px) / 1120);
  }

  .studio__body {
    padding: calc(70px + 50 * (100vw - 320px) / 1120) 0;
  }

  .studio__info {
    padding-right: calc(10px + 85 * (100vw - 320px) / 1120);
  }

  .stacking::after {
    width: calc(375px + 435 * (100vw - 320px) / 1120);
    height: calc(616px + 752 * (100vw - 320px) / 1120);
  }

  .stacking__body {
    padding: calc(70px + 50 * (100vw - 320px) / 1120) 0;
  }

  .stacking__info {
    padding-right: calc(10px + 75 * (100vw - 320px) / 1120);
  }

  .stacking__list {
    row-gap: calc(25px + 25 * (100vw - 320px) / 1120);
    -moz-column-gap: calc(10px + 75 * (100vw - 320px) / 1120);
         column-gap: calc(10px + 75 * (100vw - 320px) / 1120);
  }

  .start__body {
    padding: calc(70px + 50 * (100vw - 320px) / 1120) 0;
  }

  .tokenomikcs__body {
    padding: calc(70px + 50 * (100vw - 320px) / 1120) 0;
  }

  .tokenomikcs__item_xl .tokenomikcs__info span,
  .tokenomikcs__item_xxl .tokenomikcs__info span {
    font-size: calc(2.8125rem + 15 * (100vw - 20rem) / 1120);
  }

  .tokenomikcs__icon {
    width: calc(70px + 30 * (100vw - 320px) / 1120);
    height: calc(70px + 30 * (100vw - 320px) / 1120);
    min-width: calc(70px + 30 * (100vw - 320px) / 1120);
  }

  .footer__body {
    padding-top: calc(70px + 50 * (100vw - 320px) / 1120);
  }
}

@media (max-width: 992px) {
  .header__menu-icon {
    display: block;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    background: var(--black);
    padding: 100px 0 0;
    z-index: 50;
  }

  .menu__body::before {
    content: "";
    position: absolute;
    width: 330px;
    height: 330px;
    transform: translate(20%, -20%);
    top: 0;
    right: 0;
    border-radius: 50%;
    background: url("../img/main/decor3.webp") center/contain no-repeat;
  }

  .menu__body._active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  .menu__wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin: 50px 0;
    scrollbar-width: thin;
    scrollbar-color: #5f5f5f transparent;
  }

  .menu__wrapper::-webkit-scrollbar {
    width: 1px;
    height: 100%;
  }

  .menu__wrapper::-webkit-scrollbar-thumb {
    background: #5f5f5f;
  }

  .menu__list {
    flex-direction: column;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 30px;
  }

  .menu__btn {
    display: block;
  }

  .menu__socials {
    display: flex;
  }

  .main__dialog_left {
    left: unset;
    right: 0;
    top: calc(-130px + 90 * (100vw - 320px) / 673);
    transform: translate(10px, 0);
  }

  .main__dialog_left .main__dialog-wrapper::after {
    -webkit-clip-path: path("M0 38C34.021 38 56.5853 12.6667 55.9884 0H0C12.5341 0 9.84819 27.7176 0 38Z");
            clip-path: path("M0 38C34.021 38 56.5853 12.6667 55.9884 0H0C12.5341 0 9.84819 27.7176 0 38Z");
  }

  .main__dialog_right {
    display: none;
  }

  .system__content {
    flex-direction: column;
  }

  .system__image.active {
    animation: fadeIn 0.6s ease forwards;
  }

  .stacking__info {
    flex: 1 1 50%;
  }

  .stacking__list {
    grid-template-columns: 1fr;
  }

  .stacking__graph {
    flex: 1 1 50%;
  }

  .stacking__image svg {
    transform: translate(-60%, 0);
  }

  .tokenomikcs__item {
    grid-column: span 6;
  }

  .tokenomikcs__item_xl,
  .tokenomikcs__item_xxl {
    grid-column: span 3;
    flex-direction: column;
    align-items: center;
  }

  .tokenomikcs__item_xl .tokenomikcs__info,
  .tokenomikcs__item_xxl .tokenomikcs__info {
    align-items: center;
    text-align: center;
  }

  .footer__left {
    flex: 1 1 40%;
  }

  .footer__right {
    flex: 1 1 60%;
  }

  .footer__menu {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .about::after {
    bottom: 50%;
  }

  .about__info {
    padding-right: 0;
  }

  .about__accent {
    margin-bottom: 30px;
  }

  .about__image {
    margin-inline: auto;
    margin-bottom: calc(30px + 50 * (100vw - 320px) / 448);
  }

  .tagline_revers .tagline__body {
    flex-direction: column-reverse;
  }

  .tagline_revers .tagline__image {
    margin: 0;
  }

  .tagline_revers .tagline__info {
    padding-right: 0;
    margin-bottom: 45px;
  }

  .tagline__body {
    flex-direction: column;
  }

  .tagline__image {
    margin: 0 0 45px;
  }

  .tagline__intro {
    text-align: center;
    transition: all 1s ease;
  }

  .tagline__title {
    text-align: center;
    transition: all 1s ease 0.1s;
  }

  .tagline__text {
    text-align: center;
    transition: all 1s ease 0.2s;
  }

  .hopping__content {
    flex-direction: column;
  }

  .hopping__info {
    margin-bottom: 60px;
  }

  .hopping__list {
    padding-right: 0;
    margin-bottom: 60px;
  }

  .hopping__icon {
    width: 80px;
    height: 80px;
    min-width: 80px;
    margin-right: 20px;
  }

  .studio__content {
    flex-direction: column;
  }

  .studio__info {
    padding-right: 0;
    margin-bottom: 40px;
  }

  .studio__accent {
    margin-bottom: 40px;
  }

  .studio__text {
    margin-bottom: 40px;
  }

  .studio__btn {
    align-self: center;
  }

  .studio__image {
    transition: all 0.5s ease-in-out;
  }

  .studio__stars {
    transition: all 0.8s ease 0.5s;
  }

  .stacking__content {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .stacking__info {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .stacking__graph {
    max-width: 426px;
    width: 100%;
  }

  .stacking__image svg {
    transform: translate(-50%, 0);
  }
}

@media (max-width: 576px) {
  .tokenomikcs__item_xl,
  .tokenomikcs__item_xxl {
    grid-column: span 6;
  }

  .footer__main {
    flex-direction: column;
  }

  .footer__text {
    max-width: unset;
  }

  .footer__right {
    flex: unset;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .header__body {
    padding: 20px;
  }

  .system__body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-65%, -70%);
    width: 313px;
    height: 375px;
    background: url("../img/icons/icons.svg#line_system_mob") 0 0/100% 100% no-repeat;
  }

  .system__line {
    display: none;
  }
}

@media (any-hover: hover) {
  .btn_red:hover::before {
    opacity: 1;
  }

  .btn_up:hover::before {
    opacity: 1;
  }

  .menu__item:hover .menu__link {
    opacity: 1;
  }

  .menu__item:hover .menu__link::after {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }

  .menu__btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.02);
  }

  .socials__item:hover svg {
    fill: #fff;
  }

  .hopping__btn:hover {
    background: rgba(255, 255, 255, 0.02);
  }

  .stacking__btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.02);
  }

  .menu-footer__item:hover .menu-footer__link {
    opacity: 1;
  }

  .menu-footer__item:hover .menu-footer__link::after {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}